snippet note "Note record with date and title"
	## `strftime("%Y-%m-%d")` - ${1:Note title}
	${2}

snippet st "Standup entry"
	# `strftime("%Y-%m-%d")`
	- ${1:Standup entry here}

snippet log "Log entry with date in bold and itemized list below"
	*`strftime("%Y-%m-%d")`*
	- ${1:Log entry here}
