snippet vd
	var_dump(${0});
snippet vdd
	var_dump(${1}); die(${0:});
snippet <?
	<?php ${0} ?>
snippet <?=
	<?=${0}?>
snippet ex
	exit;
snippet if
	<? if (${1}) : ?>${0}<? endif; ?>
snippet endif
	<? endif; ?>
